body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1231px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:830px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4623 {
  position:absolute;
  left:338px;
  top:131px;
  width:270px;
  height:830px;
}
#u4624 {
  position:absolute;
  left:2px;
  top:407px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:123px;
}
#u4625 {
  position:absolute;
  left:412px;
  top:181px;
  width:123px;
  height:123px;
  font-size:48px;
}
#u4626 {
  position:absolute;
  left:2px;
  top:33px;
  width:119px;
  word-wrap:break-word;
}
#u4627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u4627 {
  position:absolute;
  left:419px;
  top:326px;
  width:109px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u4628 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u4629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u4629 {
  position:absolute;
  left:339px;
  top:444px;
  width:270px;
  height:68px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u4630 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u4631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:48px;
}
#u4631 {
  position:absolute;
  left:339px;
  top:522px;
  width:270px;
  height:48px;
  font-size:20px;
  text-align:center;
}
#u4632 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u4633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u4633 {
  position:absolute;
  left:338px;
  top:876px;
  width:270px;
  height:1px;
}
#u4634 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#949494;
}
#u4635 {
  position:absolute;
  left:445px;
  top:898px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#949494;
}
#u4636 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4637 {
  position:absolute;
  left:413px;
  top:689px;
  width:121px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4638 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u4639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4639 {
  position:absolute;
  left:339px;
  top:706px;
  width:270px;
  height:93px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4640 {
  position:absolute;
  left:0px;
  top:18px;
  width:270px;
  word-wrap:break-word;
}
#u4641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u4641 {
  position:absolute;
  left:513px;
  top:335px;
  width:71px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u4642 {
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  word-wrap:break-word;
}
#u4643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:830px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4643 {
  position:absolute;
  left:960px;
  top:131px;
  width:270px;
  height:830px;
}
#u4644 {
  position:absolute;
  left:2px;
  top:407px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:123px;
}
#u4645 {
  position:absolute;
  left:1034px;
  top:181px;
  width:123px;
  height:123px;
  font-size:48px;
}
#u4646 {
  position:absolute;
  left:2px;
  top:33px;
  width:119px;
  word-wrap:break-word;
}
#u4647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u4647 {
  position:absolute;
  left:1041px;
  top:326px;
  width:109px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u4648 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u4649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u4649 {
  position:absolute;
  left:961px;
  top:444px;
  width:270px;
  height:68px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u4650 {
  position:absolute;
  left:0px;
  top:18px;
  width:270px;
  word-wrap:break-word;
}
#u4651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:72px;
}
#u4651 {
  position:absolute;
  left:961px;
  top:522px;
  width:270px;
  height:72px;
  font-size:20px;
  text-align:center;
}
#u4652 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u4653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u4653 {
  position:absolute;
  left:960px;
  top:876px;
  width:270px;
  height:1px;
}
#u4654 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#949494;
}
#u4655 {
  position:absolute;
  left:1067px;
  top:898px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#949494;
}
#u4656 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u4657 {
  position:absolute;
  left:961px;
  top:689px;
  width:270px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u4658 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u4659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4659 {
  position:absolute;
  left:961px;
  top:706px;
  width:270px;
  height:93px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4660 {
  position:absolute;
  left:0px;
  top:18px;
  width:270px;
  word-wrap:break-word;
}
#u4661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u4661 {
  position:absolute;
  left:1135px;
  top:335px;
  width:71px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u4662 {
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  word-wrap:break-word;
}
#u4663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
}
#u4663 {
  position:absolute;
  left:339px;
  top:76px;
  width:73px;
  height:42px;
  font-size:36px;
  color:#000000;
}
#u4664 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
}
#u4665 {
  position:absolute;
  left:961px;
  top:76px;
  width:73px;
  height:42px;
  font-size:36px;
  color:#000000;
}
#u4666 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
